.about {    
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 150px;
    background-color: blue;
    height: 100vh;
    margin-bottom: 1000px;
    display: flex;
    flex-direction: column;
}