.project-title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 5rem;
    margin-top:  20px;
    margin-bottom: 76px;
    text-decoration: solid underline black;
    text-underline-offset: 20px;
    font-weight: 900;
}
.p1
{
    background-color: white;
    margin: 10px 150px;
    padding: 60px 30px;
    margin-bottom: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.p1:hover
{
    margin-top: -10px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.p1 div
{
    flex:1;
    text-align: center;
}
.p1 .header1{
    color:black;
}

.header1 ,li a
{
    font-size: 30px;
    display: block;
    font-weight: bolder;
    margin: 20px;
    color:white;
}

.p1:nth-child(even) {
    flex-direction: row-reverse;
}